.button {
  font: inherit;
  border: 1px solid #082e48;
  color: #082e48;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:disabled {
  background: #ccc;
  color: #888888;
  cursor: not-allowed;
  border: #ccc;
  box-shadow: none;
}

.button:disabled:hover,
.button:disabled:active {
  background: #ccc;
  color: #888888;
  border: #ccc;
}

.button:hover,
.button:active {
  background: #082e48;
  color: white;
}

.button--flat {
  border: none;
}

.button--flat:hover,
.button--flat:active {
  background: rgba(50, 124, 181, 0.57);
  color: #082e48;
}

.button--raised {
  background: #082e48;
  color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}

.button--raised:hover,
.button--raised:active {
  background: #174e73;
}

.button.button--accent {
  border-color: #0084FF;
  color: #0084FF;
}

.button--accent:hover,
.button--accent:active {
  background: #0084FF;
  color: #fffffF;
}

.button--flat.button--accent:hover,
.button--flat.button--accent:active {
  background: #0084FF;
  color: #FFFFFF;
}

.button.button--accent.button--raised {
  background: #0084FF;
  color: #FFFFFF;
}

.button--raised.button--accent:hover,
.button--raised.button--accent:active {
  background: #082e48;
}

.button.button--danger {
  border-color: #dd2222;
  color: #dd2222;
}

.button--danger:hover,
.button--danger:active {
  background: #dd2222;
  color: white;
}

.button--flat.button--danger:hover,
.button--flat.button--danger:active {
  background: rgb(248, 102, 102);
  color: #dd2222;
}

.button.button--danger.button--raised {
  background: #dd2222;
  color: white;
}

.button--raised.button--danger:hover,
.button--raised.button--danger:active {
  background: #dd2222;
}

.button.button--success {
  border-color: #00b359;
  color: #00b359;
}

.button--success:hover,
.button--success:active {
  background: #00b359;
  color: white;
}

.button--flat.button--success:hover,
.button--flat.button--success:active {
  background: rgba(0, 179, 90, 0.3);
  color: #00b359;
}

.button.button--success.button--raised {
  background: #00b359;
  color: white;
}

.button--raised.button--success:hover,
.button--raised.button--success:active {
  background: #00a151;
}
